<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5pwYZ5f81e8UKaZnj2weIvY62MoPj1ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1049307106080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.progx.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-cac12</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-cac12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049307106080:ios:7226a724ad230075bba545</string>
</dict>
</plist>